<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styleAll.css" />
    <script src="/js/input.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <h1>All Blogs</h1>
    <% blogs.forEach(b => { %>
    <div class="Conteneur" id="<%= b.id %>">
      <h3>blog title: <%= b.title_blog %></h3>
      <h3>blog description: <%= b.description_blog %></h3>
      <h3>blog author: <%= b.author_blog %></h3>
      <img
        width="300px"
        height="auto"
        src="/uploads/<%=b.image_blog%>"
        alt="hh"
      />
      <div class="button">
        <a href="" class="delete" data-id="<%= b.id %>">delete</a> <br />
        <a href="/edit/<%= b.id %>" >edit</a> <br />
        <br />
        <hr />
      </div>
    </div>
    <% }) %>
  </body>
</html>
